<%@ page pageEncoding="UTF-8" %>
<form name="search" action="index.jsp">
    <input type="text" name="query" value="" size="64" />
    <select name="type">
        <option value="Publication">Publication</option>
        <option value="People">People</option>
        <option value="Venue">Venue</option>
    </select>
    <select  name="sort">
        <option value="Name">Name</option>
        <option value="Date">Date</option>
    </select>
</form>
